NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:4000

# Mock temporal solo para desarrollo frontend mientras no esten activos api-gateway y auth-service.
# Credenciales:
# - admin@stocktrack360.local / password
# - usuario@stocktrack360.local / password
NEXT_PUBLIC_AUTH_MOCK_ENABLED=false

# Mock temporal solo para desarrollo frontend mientras no esten activos
# api-gateway, auth-service, inventory-service y reporting-alerts-service.
NEXT_PUBLIC_DATA_MOCK_ENABLED=false
